*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
 background: url("https://i.pinimg.com/736x/ac/65/44/ac65448f8d92ca35ea54b87188feb142.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
margin-top: 200px;
    display: flex;
    justify-content: center;
    
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    background:rgb(255, 255, 255);
    padding:30px;
    width:350px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.4s;
}

.card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

.card h2{
    margin-bottom:5px;
}

.card p{
    color:#666;
}

.stats{
    display:flex;
    justify-content:space-around;
    margin:25px 0;
}

.stats h3{
    color:#2196f3;
}

.buttons{
    display:flex;
    gap:10px;
    justify-content:center;
}

button{
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:0.3s;
}

#followBtn{
    background:#2196f3;
    color:white;
}

#likeBtn{
    background:#ff4081;
    color:white;
}

.theme-btn{
    margin-top:15px;
    background: url("https://t3.ftcdn.net/jpg/05/43/85/50/360_F_543855006_jRfbzjydB7zkcfYtp9myXYKLyrs44kKI.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;color:white;
}

button:hover{
    transform:scale(1.05);
}

#message{
    margin-top:15px;
    font-weight:bold;
    color:green;
}

.dark{
     margin-top:15px;
    background: url("https://t3.ftcdn.net/jpg/05/43/85/50/360_F_543855006_jRfbzjydB7zkcfYtp9myXYKLyrs44kKI.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 200px;
}

.dark .card{
    background:#5f3468;
    color:white;
}

.dark .card p{
    color:#ddd;
}